<header>
    <div class="container">
        <nav class="main-nav">
            <div class="nav-logo">
                <a href="/" class="logo">StickerWizard</a>
            </div>
            <div class="nav-menu">
                <a href="/">Home</a>
                <a href="/product">Detalle</a>
                <a href="/product/new">Nuevo</a>
                <a href="/login">Login</a>
                <a href="/register">Registro</a>
            </div>
            <div class="nav-cart">
                <a href="/cart">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="cart-items-qty">0</span>
                </a>
            </div>
        </nav>
    </div>
</header>