<footer>
    <div class="container">
        <nav class="social-nav">
            <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
            <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
            <a href="https://dribbble.com"><i class="fab fa-dribbble"></i></a>
        </nav>
        <h3>&copy; 2020 codelando</h3>
    </div>
</footer>