<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { pageTitle: 'Inicio'}) %> 
<body>
	<h2>Inicio</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente recusandae qui tempora cumque veritatis est cum ut, iure quia nesciunt commodi dolore maiores corporis perspiciatis magnam perferendis quos repellat? Vel.</p>
</body>
</html>