<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="container">
            <section class="cart-list">
                <h1>Carrito de compras</h1>
                <div class="columns is-vcentered">
                    <div class="column is-9">
                        <h2>Ítem</h2>    
                    </div>
                    <div class="column is-1">
                        <h2>Cant.</h2>    
                    </div>
                    <div class="column is-2">
                        <h2>Precio</h2>    
                    </div>
                </div>
                <div class="columns is-vcentered cart-item">
                    <div class="column is-1">
                        <i class="fas fa-times"></i>
                    </div>
                    <div class="column is-2">
                        <figure class="image">
                            <img src="https://static1.squarespace.com/static/558619cae4b0013b322618c8/589f5970be6594dd28a8a057/5de6cad21dbe2231b979a1d5/1576696050804/IMG_0307.PNG" alt="">
                        </figure>
                    </div>
                    <div class="column is-6">
                        <h3>Título del sticker</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="column is-1">
                        <input type="text" value="1">
                    </div>
                    <div class="column is-2">
                        <span>$ 123.45</span>
                    </div>
                </div>
                <div class="columns is-vcentered cart-item">
                    <div class="column is-1">
                        <i class="fas fa-times"></i>
                    </div>
                    <div class="column is-2">
                        <figure class="image">
                            <img src="https://static1.squarespace.com/static/558619cae4b0013b322618c8/589f5970be6594dd28a8a057/5de6cad21dbe2231b979a1d5/1576696050804/IMG_0307.PNG" alt="">
                        </figure>
                    </div>
                    <div class="column is-6">
                        <h3>Título del sticker</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="column is-1">
                        <input type="text" value="1">
                    </div>
                    <div class="column is-2">
                        <span>$ 123.45</span>
                    </div>
                </div>
                <div class="columns is-vcentered cart-item">
                    <div class="column is-1">
                        <i class="fas fa-times"></i>
                    </div>
                    <div class="column is-2">
                        <figure class="image">
                            <img src="https://static1.squarespace.com/static/558619cae4b0013b322618c8/589f5970be6594dd28a8a057/5de6cad21dbe2231b979a1d5/1576696050804/IMG_0307.PNG" alt="">
                        </figure>
                    </div>
                    <div class="column is-6">
                        <h3>Título del sticker</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="column is-1">
                        <input type="text" value="1">
                    </div>
                    <div class="column is-2">
                        <span>$ 123.45</span>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-9"></div>
                    <div class="column is-3">
                        <h2>Subtotal</h2>
                        <p>$370.35</p>
                        <p>
                            <button type="submit">Comprar</button>
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>