<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sticker Wizard 🧙‍♂️</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&family=Baloo+Paaji+2&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <header>
        <div class="container">
            <nav class="main-nav">
                <div class="nav-logo">
                    <a href="/" class="logo">StickerWizard</a>
                </div>
                <div class="nav-menu">
                    <a href="/">Home</a>
                    <a href="/product">Detalle</a>
                    <a href="/product/new">Nuevo</a>
                    <a href="/login">Login</a>
                    <a href="/register">Registro</a>
                </div>
                <div class="nav-cart">
                    <a href="/cart">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="cart-items-qty">0</span>
                    </a>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <section>
                <div class="columns is-centered">
                    <div class="column is-6">
                        <h1>Nuevo producto</h1>
                        <form action="">

                            <div class="field">
                                <label for="name">Nombre</label>
                                <div class="control">
                                    <input type="text" name="name">
                                </div>
                                <p class="feedback"></p>
                            </div>

                            <div class="field">
                                <label for="description">Descripción</label>
                                <div class="control">
                                    <textarea name="description"></textarea>
                                </div>
                                <p class="feedback"></p>
                            </div>

                            <div class="field">
                                <label for="price">Precio</label>
                                <div class="control">
                                    <input type="text" name="price">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <button type="submit">Crear producto</button>
                                </div>
                            </div> 
                        </form>  
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <div class="container">
            <nav class="social-nav">
                <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
                <a href="https://dribbble.com"><i class="fab fa-dribbble"></i></a>
            </nav>
            <h3>&copy; 2020 codelando</h3>
        </div>
    </footer>
</body>
</html>