<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 
<body class="home">
    <%- include('partials/header') %> 
    <main>
        <div class="container">
            <section>
                <div class="columns is-multiline product-list">
                    <div class="column is-4 is-3-desktop product">
                        <a href="/products/detail">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image">
                                        <img src="https://static1.squarespace.com/static/558619cae4b0013b322618c8/589f5970be6594dd28a8a057/5de6cad21dbe2231b979a1d5/1576696050804/IMG_0307.PNG" alt="">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p class="title">Título del sticker</p>
                                    <p class="subtitle">$ 123.45</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="column is-4 is-3-desktop product">
                        <a href="/products/detail">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image">
                                        <img src="https://static1.squarespace.com/static/558619cae4b0013b322618c8/589f5970be6594dd28a8a057/5df9d49e833c9f2038a13fbd/1576656741507/IMG_0893.PNG" alt="">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p class="title">Título del sticker</p>
                                    <p class="subtitle">$ 123.45</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="column is-4 is-3-desktop product">
                        <a href="/products/detail">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image">
                                        <img src="https://static1.squarespace.com/static/558619cae4b0013b322618c8/589f5970be6594dd28a8a057/5de6cad21dbe2231b979a1d5/1576696050804/IMG_0307.PNG" alt="">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p class="title">Título del sticker</p>
                                    <p class="subtitle">$ 123.45</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="column is-4 is-3-desktop product">
                        <a href="/products/detail">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image">
                                        <img src="https://static1.squarespace.com/static/558619cae4b0013b322618c8/589f5970be6594dd28a8a057/5df9d49e833c9f2038a13fbd/1576656741507/IMG_0893.PNG" alt="">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p class="title">Título del sticker</p>
                                    <p class="subtitle">$ 123.45</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="column is-4 is-3-desktop product">
                        <a href="/products/detail">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image">
                                        <img src="https://static1.squarespace.com/static/558619cae4b0013b322618c8/589f5970be6594dd28a8a057/5de6cad21dbe2231b979a1d5/1576696050804/IMG_0307.PNG" alt="">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p class="title">Título del sticker</p>
                                    <p class="subtitle">$ 123.45</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="column is-4 is-3-desktop product">
                        <a href="/products/detail">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image">
                                        <img src="https://static1.squarespace.com/static/558619cae4b0013b322618c8/589f5970be6594dd28a8a057/5df9d49e833c9f2038a13fbd/1576656741507/IMG_0893.PNG" alt="">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p class="title">Título del sticker</p>
                                    <p class="subtitle">$ 123.45</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="column is-4 is-3-desktop product">
                        <a href="/products/detail">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image">
                                        <img src="https://static1.squarespace.com/static/558619cae4b0013b322618c8/589f5970be6594dd28a8a057/5de6cad21dbe2231b979a1d5/1576696050804/IMG_0307.PNG" alt="">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p class="title">Título del sticker</p>
                                    <p class="subtitle">$ 123.45</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="column is-4 is-3-desktop product">
                        <a href="/products/detail">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image">
                                        <img src="https://static1.squarespace.com/static/558619cae4b0013b322618c8/589f5970be6594dd28a8a057/5df9d49e833c9f2038a13fbd/1576656741507/IMG_0893.PNG" alt="">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p class="title">Título del sticker</p>
                                    <p class="subtitle">$ 123.45</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include('partials/footer') %> 
</body>
</html>